body {
	font-family:Verdana, Geneva, sans-serif;
	font-size:100%;  						  	/*  1em=16px */
}
.kolom {
	width: 26em;								/*  400px */
	padding:0;
}
/* UL.thumblist*/
.thumblist {
width:100%;
margin:0;
padding:0.5em 0; /* 0.5em = 6px */
background:#EEE;
list-style:none;
font-size:0.75em; /*12px = 1em */
}
.thumblist li {
border:1px dashed silver;
padding: 0.5em; /* 6px */
margin: 0.5em;
height:8em;
overflow:hidden;
}
.thumblist img {
float:left;
margin-right: 0.5em;
}
.thumblist a {
color:inherit;
text-decoration:none;
}
.thumblist h4 {
font-size: 1.1666em; /* 14px */
margin: 0 0 0.1em 0;
color:#0099FF;
}
.thumblist p {
margin: 0 0 0.1em 7.16666em;
}