/*************NORMALIZE***********/
html, body, div, section, article, aside, nav {
    margin: 0;
    padding: 0;
}

img {
    border: none;
    float: left;
    margin: 0 1.4em 0.5em 0;
}

/* TYPOGRAFIE */

#deel3 h3 {
    font-size: 1.5em;
    font-style: italic;
    font-weight:bold;
}
em {
    color: #990099;
    letter-spacing: 0.25em;
    font-style:normal;
    font-weight:bold;
}
strong {
    color: #009999;
}
/* KLEUR */
body {
    color: gray;
}
header {
    background-color: #ff3300;
    color: white;
}
footer {
    background-color: #003333;
    color: white;
}
#datum {
    background-color: white;
    color: #003333;
}
#deel2 {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}
h1 {
    color: cadetblue;
    font-size: 3em;
}
h2 {
    color: #ff3300;
    font-size: 2em;
}
#deel1 h3 {
    background-color: #ff3300;
    color:white;
}
#deel3 h3 {
    color: #666666;
}
#kolom2 {
    background-image: url(img/drupal-8.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position:top;
    background-size: 100%;
    width:100%;
}
/* STRUCTUUR */
.container {
    margin-left:15%;
    margin-right:5%;
}
section {
    clear:both;
}
footer p {
    float: left;
    padding:0.25em;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}
#kolom1 {
    float:left;
    width:20%;
    margin-right: 1em;
}
#kolom2 {
    float:left;
    width:50%;
    height:30em;
    margin-right: 1em;
}
#kolom3 {
    float:left;
    width:20%;
}
#deel1 img {
    float:right;
    max-width:100%;
    margin-top: -2.5em;        
}
#kolom1 img {
    width: 100%;
}
#kolom3 img {
    width: 100%;
}
#deel3 img {
    float:left;
    margin-right: 10%;
}
#deel3 div {
    clear: both;
}
/* MENUBALK */ 
header nav {
    margin: 0 auto;
    padding: 0;
}
header ul {
    list-style-type: none;
    padding:0; /*doet menu op goede plaats beginnen*/
    margin: 0;
}
header ul li {
    display: inline;
    text-align: center;
    margin:0; 
    padding:0;
}
header ul li a:hover, header ul li a:active {
    background-color: #cc0066;
    text-decoration:none;
}
header ul a {
    display: inline-block;
    color: white;
    text-decoration:none;
    padding-top: 1em;
    padding-bottom: 1em;
    border-right: 1px solid white;
    width: 19%;
}
header li:first-child a {
    border-left: 1px solid white;
}
.active {
    background-color: crimson;
}
/*nav.topmenu {
    margin-top:70px;	
    width: 100%;
}

nav.topmenu ul {
    list-style-type: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav.topmenu ul li {
    float: left;
    width: 20%;
    margin: 0;
}

nav.topmenu ul a {
    display: block;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1.25em; 20px
    line-height: 3em; 60px
    color: #ffffff;
    text-align: center;
    border-right: 1px solid #ECEAE8;
    padding-left: 1em;
    padding-right: 1em;
}

nav.topmenu ul li:first-child a {
    border-left: 1px solid #ECEAE8;
}

nav.topmenu ul a:hover, nav.topmenu ul li.huidig a {
    background: #B61600;
    text-decoration: none;
}*/

/* lijst vacatures */
.inhoud ul {
    list-style-type:none;
}
.inhoud ul h3 {
    padding: 0.5em;
    border-radius: 1em;
    width: 50%;
}
/* SPECIALS */
.cf {
    clear:both;
}
.clearFix:before, .clearFix:after {
    content: " ";
    display: table;
}
.clearFix:after {
    clear: both;
}
/* enkel voor IE6/7  */ 
.clearFix {
    *zoom: 1;
}
@media screen and (max-width: 950px) {
    #deel1 img {
        display:none;
    }
}